<html>
    <head>
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/jquery.tablesorter.min.js"></script>
        <script src="/js/jquery.tablesorter.pager.js"></script>
        <script type"text/javascript">
            $(document).ready(function() {
                $('table')
                .tablesorter();
                //.tablesorterPager({container: $("#pager')});
            });
        </script>
    </head>
    <body>
        <table border="1" style="width:40%">
            <thead>
                <tr>
                    <th id="item">Item</th>
                    <th id="typeid">typeid</th>
                    <th id="margin">Margin</th>
                    <th id="quantity">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for id, values in trades.iteritems() %}
                <tr>
                    <td> {{id}} </td>
                    {% for value in values %}
                    <td> {{value}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
